<a href="https://colab.research.google.com/github/junhyun814/junhyun814.github.io/blob/master/tensor102_6convolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
#과거의 데이터를 준비합니다.
(독립,종속),_ = tf.keras.datasets.mnist.load_data()
독립 = 독립.reshape(60000,28,28,1)    #흑백이미지를 3차원으로 바꿈
종속 = pd.get_dummies(종속)           #종속 변수 원핫 인코딩
print(독립.shape, 종속.shape)

(60000, 28, 28, 1) (60000, 10)

In [ ]:
#모델을 만듭니다.
x = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3,kernel_size=5,activation='swish')(x) #convolution (5*5크기 filter 3개)
H = tf.keras.layers.Conv2D(5,kernel_size=5,activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(x,y)
model.compile(loss="categorical_crossentropy",metrics='accuracy') #분류형 loss, 정확도 출력

In [ ]:
#모델을 학습시킵니다.
model.fit(독립,종속,epochs=10)

Epoch 1/10
1875/1875 [==============================] - 11s 3ms/step - loss: 1.0486 - accuracy: 0.8410
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.1037 - accuracy: 0.9696
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0771 - accuracy: 0.9770
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0629 - accuracy: 0.9812
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0548 - accuracy: 0.9847
Epoch 6/10
1875/1875 [==============================] - 5s 2ms/step - loss: 0.0526 - accuracy: 0.9838
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0474 - accuracy: 0.9867
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0427 - accuracy: 0.9869
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0375 - accuracy: 0.9889
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0368 - accuracy: 0.9889

In [ ]:
#모델 사용
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
#모델 확인
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 20, 20, 5)         380
_________________________________________________________________
flatten (Flatten)            (None, 2000)              0
_________________________________________________________________
dense (Dense)                (None, 10)                20010
=================================================================
Total params: 20,468
Trainable params: 20,468
Non-trainable params: 0
_________________________________________________________________